<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getRenderingDatasource>
        <processor patch:before="*[@type='Sitecore.Pipelines.GetRenderingDatasource.CheckDialogState, Sitecore.Kernel']" type="TheReference.DotNet.Sitecore.LocalDatasources.AddLocalDatasource, TheReference.DotNet.Sitecore.LocalDatasources" />
      </getRenderingDatasource>
    </pipelines>
	  <commands>
		  <command name="webedit:addrendering" type="TheReference.DotNet.Sitecore.LocalDatasources.AddRendering, TheReference.DotNet.Sitecore.LocalDatasources" patch:instead="*[@name='webedit:addrendering']" />
	  </commands>
    <events>
      <event name="item:added">
        <handler patch:before="*[1]" type="TheReference.DotNet.Sitecore.LocalDatasources.ItemAddedBranchHandler, TheReference.DotNet.Sitecore.LocalDatasources" method="OnItemAdded" />
      </event>
    </events>
  </sitecore>
</configuration>